/* work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared styles */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

* {
  margin: 0%;
  padding: 0%;
}

/* header styles */
header {
  background: #fff;
  box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.05);

  padding: 40px 0px;
}

.head-nav {
  display: flex;
  align-items: center;
  padding: 0px 100px;
  background: #fff;
}
span {
  margin-left: 10px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav > ul {
  display: flex;
  margin-left: 981px;
}
nav li {
  list-style: none;
  margin-right: 18px;
  font-weight: 600;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #3c354f;
}
.follow-us {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  gap: 5px;

  padding: 20px 40px;

  color: #3c354f;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.follow-us img {
  width: 33.916px;
  height: 24px;
  flex-shrink: 0;
}

/* header styles end */

/* main styles */

.banner {
  background-image: url("B8A2-Gamer-Zone/images/Group\ 14.png");
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 70vh;
}
.banner-tittle {
  text-align: center;
  font-family: Work Sans;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 98px;
  margin-top: 50px;
}

.banner-tittle2 {
  text-align: center;
  font-family: Work Sans;
  font-size: 75px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.faw-list {
  color: #534c64;
  text-align: left;
  padding-left: 350px;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  list-style: none;
  gap: 40px;
}
.list-item ,li {
    padding:10px;
}
.list-item{
  margin-top: 50px;
}
.btn{
    justify-content: center;
    padding-left: 350px;
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: bold;
font-weight: 600;
line-height: normal;
text-transform: uppercase;

}


.btn-primary{
    color: #FFF;
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 30px;
background-color: #e61496; 
border: 0px;
}                                              
.btn-primary2{
    color: #FFF;
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 30px;
background-color: rgba(78, 197, 247, 1);
border: 0px;
}
.btn-primary:hover {
    background-color: #6b6b6b;
  }
  .btn-primary2:hover {
    background-color: #6b6b6b;
  }
  .banner-cont{
    display: flex;
  }
  .game-vid h3{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

  }
  .funny-vid{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .game-vid .online-para {
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
  }
  /* card sec start*/
.vid-card{
  display: flex;
  justify-content: space-around;
  padding: 0px 40px;
  margin-top: 30px;
}

.img-card:hover {
  background-color: #6b6b6b;
}







/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  .nav-list {
    margin: 20px;
    flex-direction: column;
    gap: 5px;
  }
  .head-nav,
  .follow-us {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-cont{
    flex-direction: column-reverse;
  }
  .ban-img-cont{
   margin: 100px;
   width:30px;
  }
  .banner{
    flex-direction: column;
    
    padding: 50px;
    width: 100vw;
  height: 100vh;
  }
  .vid-card{
    flex-direction: column;
  }
  .card{
    margin-top: 10px;
  }
}
